@import "tailwindcss";

@theme inline {
  --color-surface: #0b1326;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: rgba(23, 31, 51, 0.7);
  --color-surface-container: #171f33;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;

  --color-primary: #adc6ff;
  --color-primary-container: #4d8eff;
  --color-on-primary: #0b1326;

  --color-secondary: #4cd7f6;
  
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #8b96af; 

  --color-outline-variant: rgba(66, 71, 84, 0.15);

  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}
